.DS_store
.idea
*.zip
*_original.mp4
*.pdf
assets/20260123-webvideo/tclight_result/1120_DV_old.mp4
assets/20260123-webvideo/tclight_result/output1.mp4
assets/20260123-webvideo/tclight_result/output2.mp4
